* {
    width: 900px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}

.buttons-box {
    background-color: blueviolet;
    border: 5px solid black;
    width: 900px;
    display: inline-block;
    margin-right: 6px;

    height: 100px;
}


a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: brown;
    border: solid navy 5px;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: inline-block;
    width: 150px;



}

.button-1,
.button-2,
.button-3{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 100px;
}


a:hover{
    transition: 2ms;
    background-color: darkorange;
    opacity: 0.7;
}


p {
    font-size: 15px;
}

h1,
h2,
p {
    text-align: center;
    color: black;
    margin-top: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.register-container {
    border: solid black 5px;
    height: 900px;
}


img{
    width: 200px;;
    display: inline-block;
    padding-bottom: 50px;
    padding-left: 25px;
}

.Bear{
    display: inline-block;
    text-align: start;
    padding-left: 100px;
    padding-bottom: 15px;
}


.bear-type{
    display: inline-block;
    border: solid black 5px;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
}

#btnBear{
position: relative;
right: 320px;
bottom: 20px;
}

.owl-type{
    display: inline-block;
    border: solid black 5px;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
}

.pet-name{
    margin-top: 50px;
}

.user-data{
    margin-top: 150px;
}